replicaCount: 1

tempo:
  server:
    http_listen_address: "0.0.0.0"
    grpc_listen_address: "0.0.0.0"
  persistence:
    enabled: false
  storage_type: s3
  s3:
    endpoint: objectstorage.us-ashburn-1.oraclecloud.com
    bucket: tempo-shared-bucket
    region: us-ashburn-1
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 250m
      memory: 512Mi
  initContainers:
    resources:
      requests:
        cpu: 10m
        memory: 32Mi
      limits:
        cpu: 50m
        memory: 64Mi

service:
  type: ClusterIP

objectStorage:
  secretName: objectstore-creds
  accessKeySecretKey: access_key
  secretKeySecretKey: secret_key
  endpoint: objectstorage.us-ashburn-1.oraclecloud.com
