guild_id: "{{ guild_id }}"
tier: "{{ tier }}"
discord_memory_request: "{{ resource_config[tier].discord_memory_request }}"
discord_memory_limit: "{{ resource_config[tier].discord_memory_limit }}"
discord_cpu_request: "{{ resource_config[tier].discord_cpu_request }}"
discord_cpu_limit: "{{ resource_config[tier].discord_cpu_limit }}"
backend_memory_request: "{{ resource_config[tier].backend_memory_request }}"
backend_memory_limit: "{{ resource_config[tier].backend_memory_limit }}"
backend_cpu_request: "{{ resource_config[tier].backend_cpu_request }}"
backend_cpu_limit: "{{ resource_config[tier].backend_cpu_limit }}"
