replicaCount: 1

mimir:
  structuredConfig:
    blocks_storage:
      backend: s3
      s3:
        endpoint: objectstorage.us-ashburn-1.oraclecloud.com
        bucket_name: mimir-shared-bucket
        region: us-ashburn-1
        s3forcepathstyle: true
    ruler_storage:
      backend: filesystem
      filesystem:
        dir: /data/ruler
    ruler:
      rule_path: /data/rules
    ingest_storage:
      enabled: false
    ingester:
      push_grpc_method_enabled: true

ingester:
  replicas: 1
  zoneAwareReplication:
    enabled: false
  persistentVolume:
    enabled: true
    storageClass: oci-block-storage
    size: 5Gi
  resources:
    requests:
      cpu: 100m
      memory: 512Mi
    limits:
      cpu: 200m
      memory: 1Gi

distributor:
  replicas: 1

querier:
  replicas: 1

query_frontend:
  replicas: 1

query_scheduler:
  replicas: 1

ruler:
  enabled: true
  replicas: 1
  persistentVolume:
    enabled: true
    storageClass: oci-block-storage
    size: 5Gi

# Object storage credentials (SealedSecret should create the secret objectstore-creds in namespace 'observability')
objectStorage:
  secretName: objectstore-creds
  accessKeySecretKey: access_key
  secretKeySecretKey: secret_key
  endpoint: objectstorage.us-ashburn-1.oraclecloud.com

rollout_operator:
  enabled: false

alertmanager:
  enabled: false
compactor:
  enabled: false
store_gateway:
  enabled: false
nginx:
  enabled: false
kafka:
  enabled: false
minio:
  enabled: false
